@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

input,
button {
  all: unset;
}

/* General */
.main-container {
  @apply mx-auto w-[90%] max-w-[1250px];
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex items-center justify-between;
}

/* Nav */
.nav-container {
  @apply mx-auto w-[90%] max-w-[1440px];
}
